# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables (SECRET)
.env

# Build outputs and logs
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
